MONGO_URI=your_mongodb_atlas_uri
JWT_SECRET=your_super_secret_key
IMAGEKIT_PUBLIC_KEY=your_public_key
IMAGEKIT_PRIVATE_KEY=your_private_key
IMAGEKIT_URL_ENDPOINT=your_url_endpoint
EMAIL_USER=your_gmail_app_password_user
EMAIL_PASS=your_gmail_app_password
PORT=5000
NODE_ENV=development

